
body{
    margin: 0;
    background-color:rgba(0, 0, 0, 0.884);
    font-family: 'Montserrat', sans-serif;
}

/*----Menu*/
.divHeader{
    display: flex;
    flex-direction: row;
    
}

.logoEletro{
  margin-top: 8px;
  margin-left: 15px;
}
  
.linkHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 70%;
}
  
.cadastro,
.login{
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 0;
}
  
#menuprincipal ul{
    list-style: none;
    padding-left: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #2f2e2e;
    border: 1px solid black;
}
    
.linkMenu{
    display: block;
    color: #44dbbd;
    padding: 15px 30px;
    
}

.linkMenu:link,
.cadastro:link, 
.login:link{
    text-decoration: none;
    color: #44dbbd;
}
  
.linMenu:visited,
.cadastro:visited, 
.login:visited{
    color: #44dbbd;
}
   
 #linkHome{
    color:  white ;
    background-color: #44dbbd;
    padding-left: 20px;
    padding-right: 20px;
}
  
#busca{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    margin-left: 20%;
    padding-right: 3%;
}
  
#txtBusca{
    border: 1px solid #44dbbd;
    border-radius: 5px;
    height: 20px;
}
  
#botao{
    background-color: transparent;
    border: none;
    color: #44dbbd;
    margin-bottom: 12px;
}

/*----SLIDE SHOW*/
  
.Slides {
    display: none;
}
  
.slideshow-container {
    position: relative;
    margin: auto;
}

.imagens{
    display: flex;
    flex-direction: row;
    background-color: #2f2e2e;
    width: 980px;
    height: 300px;
    padding: 30px;
    margin: 40px auto;
    margin-bottom: 0;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 0px  rgba(0,0,0,0.3); 
    position: relative;
}
  
.texto{
    flex: 1;
    color: white;
    margin-right: 100px;
}
  
.título{
    margin-top: 18%;
    text-align: center;
    font-size: 25px;
    color: #44dbbd;
}
  
.parágrafo{
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 15px;
}
  
.imgSlide{
    width: 400px; 
    margin-left: 10%;
}

.bSlide{
    font-family: 'Montserrat', sans-serif;
    color: #f8f8ff;
    background-color: #44dbbd;
    width: 13vh;
    height: 5vh;
    border: none;
    border-radius: 7px;
    margin-left: 37%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 12px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.prev{
    margin-left: 12%;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 12%;
}
  
.prev:hover, .next:hover {
    color: #2f2e2e;
    background-color: rgba(0,0,0,0.8);
}
  
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 4%;
}
  
.active, .dot:hover {
    background-color: #2f2e2e;
}
  
/* Animação */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.logoloan{
    height: 500px;
    width: 500px;
}

/*Grafico*/
#grafico_conteiner{
    display: flex;
    align-content: flex-end;
    justify-content: end;
}

#grafico{
    display: flex;
    flex-direction: column;
    background-color:white;
    text-align: center;
    justify-content: center;
}

#grafico canvas{
    margin: 5px;
    border: 1px solid #70978f;
    border-radius: 2px;
    color: rgb(102, 95, 95);
}

/*----Rodapé*/

.rodape ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    color: white;
}

.direitos{
    padding-left: 3%;
    list-style: none;
}

.contato{
    padding: 10px 80px;
    list-style: none;
}

/* Imagens TV e Celular - */

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 2%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: 5%;
    background-color: #2f2e2e;
}

.card{
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid black;
    background-color: #f8f8f8;
}

.text{
    text-align: center;
    font-size: 14px;
    display: none;
}

.pTV, .pCel{
    width: 100%;
    color: #44dbbd;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pTV{
    margin-left: 49%;
}

.pCel{
    margin-left: 45%;
}